@import '../../constants/colors.scss';
@import '../../constants/constants.scss';

.book-placeholder-container {
  position: relative;
  display: flex;
  margin-bottom: 50px;

  .book {
    display: flex;
    justify-content: space-between;
    width: calc(100% - (#{$margin-size} * 2));
    padding: 10px;
    margin: $margin-size calc(#{$margin-size} * 2);
    color: $theme-secondary-color-lighter-20;

    border-radius: 5px;
    border: 1px solid $theme-secondary-color-lighter-20;
    box-sizing: border-box;
    overflow: hidden;

    .icon {
      display: block;
      width: 80px;
      height: 80px;
      margin-right: 5px;

      border-radius: 5px;
      border: 1px solid $theme-secondary-color-lighter-20;

      text-align: center;
      font-size: 38px;
      line-height: 80px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 90px);
      margin-left: 5px;

      .rent-status {
        margin-top: 10px;
      }
    }
  }
}
