@import '../../constants/shadows.scss';
@import '../../constants/constants.scss';
@import '../../constants/colors.scss';

.book-row-container {
  position: relative;
  display: flex;
  left: 0;
  transition: all 0.3s ease-in-out;

  &.expanded {
    left: -195px;
  }

  .actions-container {
    position: absolute;
    right: calc(-185px - #{$margin-size * 2});
    height: 100%;

    .action-button {
      width: 90px;
      top: 0;
      margin-right: 5px;
      height: calc(100% - #{$margin-size * 2} - 6px);
      margin: $margin-size;

      &.info {
        background-color: $theme-secondary-color-lighter-30;
        box-shadow: 0 6px $theme-secondary-color;

        &:active {
          top: 4px;
          box-shadow: 0 2px $theme-secondary-color;
        }
      }
    }
  }

  .book {
    display: flex;
    justify-content: space-between;
    width: calc(100% - (#{$margin-size} * 2));
    padding: 10px;
    margin: $margin-size calc(#{$margin-size} * 2);
    left: 0;

    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: $material-shadow-near;

    cursor: pointer;

    img {
      display: block;
      max-width: 100px;
      max-height: 100px;
      margin-right: 5px;

      border-radius: 5px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 90px);
      margin-left: 5px;

      h2.book-title {
        display: block;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
